@model List<User>

@{
    string confirmMessage = "Вы уверены, что хотите удалить пользователя?";
    string confirmScript = "return confirm('" + confirmMessage + "');";
}

<div class="container-fluid px-4">
    <h1 class="mt-4 mb-4">Пользователи веб сервиса</h1>
    <div class="card mb-4">
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Логин</th>
                        <th>Пароль</th>
                        <th>Роль</th>
                        <th>Дата создания</th>
                        <th>Действие</th>
                    </tr>
                </thead>
                @foreach (User userInfo in Model)
                {
                    <tr>
                        <td>
                            @if (userInfo.InactiveMark == "TRUE")
                            {
                                @userInfo.ULogin
                                <font style="color:red"> (INACTIVE)</font>
                            }
                            else
                            {
                                @userInfo.ULogin
                            }                            
                        </td>
                        <td>

                            @if (ViewData["UserRole"].ToString() == "admin" && userInfo.Role.RName == "sa")
                            {
                                <a>******</a>
                            }
                            else
                            {
                                @userInfo.UPassword
                            }
                        </td>
                        <td>
                            @userInfo.Role.RName
                        </td>
                        <td>
                            @userInfo.Created
                        </td>
                        <td>
                            @if (ViewData["UserRole"].ToString() == "admin" && userInfo.Role.RName == "sa")
                            {
                                <a>-</a>
                            }
                            else
                            {
                                <a asp-action="EditUser" asp-route-userID=@userInfo.Id>
                                    <button class="btn btn-primary fa-solid fa-pen"></button>
                                </a>
                                <a asp-action="UnactiveUser" asp-route-userID=@userInfo.Id>
                                    <button class="btn btn-danger fa-solid fa-trash" onclick="@confirmScript"></button>
                                </a>
                                @if (userInfo.InactiveMark == "TRUE")
                                {
                                    <a asp-action="InactiveUser" asp-route-userID=@userInfo.Id>
                                        <button class="btn btn-success fa-solid fa-rotate-left"></button>
                                    </a>
                                }

                        }
                        </td>
                    </tr>
                }

            </table>


        </div>
    </div>
</div>
