@using HoffmanWebstatistic.Models.ViewModel;

@model SendingStatusLogViewModel

@{
    string color;
    string onlineCondition;
    int testsCountLastMonth = 0;
    bool pingResultStand;
}

<div class="content">
    <!-- Start Content-->
    <div class="container-fluid">
       <div class="row">
            @{

                @foreach (var standName in Model.sendingStatusLog.Select(k => k.Stand.StandName).Distinct())
                        {
                            
                            <div class="row">

                                @if (Model.pingerDict != null && Model.pingerDict.TryGetValue(@standName, out pingResultStand))
                                {
                                    @if (pingResultStand == true)
                                    {
                                        color = "color:rgba(0,255,20,0.52)";
                                        onlineCondition = "Online";
                                    }
                                    else
                                    {
                                        color = "color:rgba(255,0,20,0.52)";
                                        onlineCondition = "Offline";
                                    }
                                }
                                else
                                {
                                    color = "color:rgba(255,0,20,0.52)";
                                    onlineCondition = "Offline";
                                }


                                <h2 class="page-title">
                                <span>@standName:</span>
                                <span style=@color>@onlineCondition</span>
                                </h2>

                                @foreach (var statusObject in Model.sendingStatusLog.Where(k => k.Stand.StandName == @standName))
                                {
                                    <div class="col-xl-5 col-lg-6">
                                        <div class="card widget-flat div-hover">
                                            <div class="card-body">                                           

                                                <h2 class="mt-3 mb-3">@statusObject.FileName</h2>
                                                <h5 class="mb-0 text-muted">Source file path: @statusObject.SourceFilePath</h5>
                                                <h5 class="mb-0 text-muted">Target file path: @statusObject.TargetFilePath</h5>
                                                <h5 class="mb-0 text-muted">User name: @statusObject.User.ULogin</h5>
                                                <h5 class="mb-0 text-muted">Status:
                                                    @if (statusObject.Status.ToUpper()=="OK")
                                                    {
                                                        <font style="color:rgba(0,255,20,0.52)">@statusObject.Status</font>                                                       
                                                    }
                                                    else
                                                    {
                                                        <font style="color:rgba(255,0,20,0.52)">@statusObject.Status</font>                                                        
                                                    }
                                                </h5>
                                                <h5 class="mb-0 text-muted">Error message: @statusObject.ErrorMessage</h5>

                                            </div>

                                        </div>
                                    </div>
                                    }
                            </div>
                              
                        }                   
                }
               
        </div>
    </div>
</div>

