@using HoffmanWebstatistic.Models.ViewModel;

@model StandAddViewModel


<div class="container-fluid px-4">
    <h1 class="mt-4 mb-4">Изменение стенда: @Model.stand.StandName</h1>
    <div class="card mb-4">
        <div class="card-body">
            <form method="post" asp-action="EditStand">
                <div asp-validation-summary="ModelOnly"> </div>
                <div class="mb-2">
                    <label asp-for="@Model.stand.StandName">Название стенда</label>
                    <input asp-for="@Model.stand.StandName" class="form-control" placeholder="bts6" value=@Model.stand.StandName>
                    <span asp-validation-for="@Model.stand.StandName" class="text-danger"></span>
                </div>

                <div class="mb-2">
                    <label asp-for="@Model.stand.StandNameDescription">Описание стенда</label>
                    <input asp-for="@Model.stand.StandNameDescription" class="form-control" placeholder="Тормозной стенд" value=@Model.stand.StandNameDescription>
                    <span asp-validation-for="@Model.stand.StandNameDescription" class="text-danger"></span>
                </div>

                <div class="mb-2">
                    <label asp-for="@Model.stand.WorkplaceMes">Расположение по MES</label>
                    <input asp-for="@Model.stand.WorkplaceMes" class="form-control" placeholder="Mes" value=@Model.stand.WorkplaceMes>
                    <span asp-validation-for="@Model.stand.WorkplaceMes" class="text-danger"></span>
                </div>

                <div class="mb-2">
                    <label asp-for="@Model.stand.IpAdress">IP адрес</label>
                    <input asp-for="@Model.stand.IpAdress" class="form-control" placeholder="10.194.100.18" value=@Model.stand.IpAdress>
                    <span asp-validation-for="@Model.stand.IpAdress" class="text-danger"></span>
                </div>

                <div class="mb-2">
                    <label asp-for="@Model.stand.DnsName">Имя DNS</label>
                    <input asp-for="@Model.stand.DnsName" class="form-control" placeholder="DNS" value=@Model.stand.DnsName>
                    <span asp-validation-for="@Model.stand.DnsName" class="text-danger"></span>
                </div>

                <div class="mb-2">
                    <label asp-for="@Model.stand.Placement">Расположение</label>
                    <input asp-for="@Model.stand.Placement" class="form-control" placeholder="Placement" value=@Model.stand.Placement>
                    <span asp-validation-for="@Model.stand.Placement" class="text-danger"></span>
                </div>

                <div class="mb-2">
                    <label asp-for="@Model.stand.StandType">Тип стенда</label>
                    <select class="form-select" multiple aria-label="multiple select example" asp-for="@Model.stand.StandType">
                        @foreach (string standType in ViewBag.StandTypeList)
                        {
                            <option>@standType</option>
                        }

                    </select>
                    <span asp-validation-for="@Model.stand.StandType" class="text-danger"></span>
                </div>

                <div class="mb-2">
                    <label asp-for="@Model.stand.Project">Проект</label>
                    <select class="form-select" asp-for="@Model.stand.Project">
                        <option>HOFFMAN</option>
                    </select>
                    <span asp-validation-for="@Model.stand.Project" class="text-danger"></span>
                </div>

                <input type="hidden" asp-for="@Model.stand.Id" value=@Model.stand.Id>
                <input type="hidden" asp-for="@Model.stand.OsVersionNavigation" value=@Model.stand.OsVersionNavigation>
                <input type="hidden" asp-for="@Model.stand.InactiveMark" value=@Model.stand.InactiveMark>


                <button type="submit" class="btn btn-primary">Сохранить</button>

            </form>


        </div>
    </div>
</div>





