@model ReportViewModel



@{
    string controllerName = @ViewContext.RouteData.Values["controller"].ToString();
    string statisticElementColor;
    string pageNumberString = "";
}

<div class="container-fluid px-4">
    <h1 class="mt-4 mb-4">@ViewData["StandsIdentifier"]</h1>

    <div class="card mb-4">
        <div class="card-body">
            <div class="table-responsive">
                @*<table class="table table-striped table-sm">*@
                
                <table class="table table-centered table-nowrap table-hover mb-0">
                    <thead>
                        <tr>
                            @{

                                <td><a asp-controller=@controllerName asp-action="JSONReport" asp-route-searchIdentifier=@ViewData["SearchIdentifier"] asp-route-standsIdentifier=@ViewData["StandsIdentifier"] asp-route-VIN=@Model.resultsJsonHeader.FirstOrDefault().VIN asp-route-sortOrder=@Model.SortViewModel.VINSort>VIN</a></td>
                                <td><a asp-controller=@controllerName asp-action="JSONReport" asp-route-searchIdentifier=@ViewData["SearchIdentifier"] asp-route-standsIdentifier=@ViewData["StandsIdentifier"] asp-route-VIN=@Model.resultsJsonHeader.FirstOrDefault().VIN asp-route-sortOrder=@Model.SortViewModel.OrderNumberSort>OrderNumber</a></td>
                                <td><a asp-controller=@controllerName asp-action="JSONReport" asp-route-searchIdentifier=@ViewData["SearchIdentifier"] asp-route-standsIdentifier=@ViewData["StandsIdentifier"] asp-route-VIN=@Model.resultsJsonHeader.FirstOrDefault().VIN asp-route-sortOrder=@Model.SortViewModel.StandNameSort>StandName</a></td>
                                <td><a asp-controller=@controllerName asp-action="JSONReport" asp-route-searchIdentifier=@ViewData["SearchIdentifier"] asp-route-standsIdentifier=@ViewData["StandsIdentifier"] asp-route-VIN=@Model.resultsJsonHeader.FirstOrDefault().VIN asp-route-sortOrder=@Model.SortViewModel.OperatorSort>Operator</a></td>
                                <td><a asp-controller=@controllerName asp-action="JSONReport" asp-route-searchIdentifier=@ViewData["SearchIdentifier"] asp-route-standsIdentifier=@ViewData["StandsIdentifier"] asp-route-VIN=@Model.resultsJsonHeader.FirstOrDefault().VIN asp-route-sortOrder=@Model.SortViewModel.DateSort>Date</a></td>
                                <td><a asp-controller=@controllerName asp-action="JSONReport" asp-route-searchIdentifier=@ViewData["SearchIdentifier"] asp-route-standsIdentifier=@ViewData["StandsIdentifier"] asp-route-VIN=@Model.resultsJsonHeader.FirstOrDefault().VIN asp-route-sortOrder=@Model.SortViewModel.TNameSort>TName</a></td>
                                <td><a asp-controller=@controllerName asp-action="JSONReport" asp-route-searchIdentifier=@ViewData["SearchIdentifier"] asp-route-standsIdentifier=@ViewData["StandsIdentifier"] asp-route-VIN=@Model.resultsJsonHeader.FirstOrDefault().VIN asp-route-sortOrder=@Model.SortViewModel.TSpecNameSort>TSpecName</a></td>
                                }
                        </tr>
                    </thead>
                    <tbody>
                        @{
        
                            @foreach (var jsonHeaderObject in Model.resultsJsonHeader)
                            {

                                if (jsonHeaderObject.ResultsJsonTests.Select(k => k.Res.Val).ToList().Contains("OK"))
                                {
                                    statisticElementColor = "background-color:rgba(0,255,20,0.35)";
                        
                                }
                                else
                                {
                                    statisticElementColor = "background-color:rgba(255,0,20,0.52)";                       
                                }
                                <tr onClick="document.location='@Url.Action("TestReport", @controllerName, new {jsonHeaderId = jsonHeaderObject.Id}, null)'" style=@statisticElementColor>
                                    <td>@jsonHeaderObject.VIN</td>
                                    <td>@jsonHeaderObject.Ordernum</td>
                                    <td>@jsonHeaderObject.Stand.StandName</td>
                                    <td>@jsonHeaderObject.Operator.OLogin</td>
                        
                                    @if (jsonHeaderObject.ResultsJsonTests.Count()>=1)
                                    {
                                        <td>@jsonHeaderObject.ResultsJsonTests.FirstOrDefault().Created</td>
                                        <td>@jsonHeaderObject.ResultsJsonTests.FirstOrDefault().TName</td>
                                        <td>@jsonHeaderObject.ResultsJsonTests.FirstOrDefault().TSpecname</td>
                                    }
                                    else
                                    {
                                        <td>UNKNOWN</td>
                                        <td>UNKNOWN</td>
                                        <td>UNKNOWN</td>
                                    }

                                </tr>
                            }
                        }     
                    </tbody>
                </table>

                <p>
                    <nav aria-label="...">
                        <ul class="pagination">

                            @foreach (int pageNumber in Model.PageViewModel.PagesList)
                            {
                                pageNumberString = pageNumber.ToString();
                                if (pageNumber == 1)
                                    pageNumberString = "«" + pageNumberString;
                                if (pageNumber == Model.PageViewModel.TotalPages)
                                    pageNumberString = pageNumberString + "»";
                                if (pageNumber == Model.PageViewModel.PageNumber)
                                {
                                    <li class="page-item active">
                                        <a class="page-link" asp-action="JSONReport"
                                            asp-route-standsIdentifier=@ViewData["StandsIdentifier"]
                                            asp-route-searchIdentifier=@ViewData["SearchIdentifier"]
                                            asp-route-VIN=@Model.resultsJsonHeader.FirstOrDefault().VIN
                                            asp-route-pageNumber=@pageNumber
                                            asp-route-sortorder="@(Model.SortViewModel.Current)">
                                                <font style="color:white">
                                                    @pageNumberString
                                                </font>
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item">
                                        <a class="page-link" asp-action="JSONReport"
                                            asp-route-standsIdentifier=@ViewData["StandsIdentifier"]
                                            asp-route-searchIdentifier=@ViewData["SearchIdentifier"]
                                            asp-route-VIN=@Model.resultsJsonHeader.FirstOrDefault().VIN
                                            asp-route-pageNumber=@pageNumber
                                            asp-route-sortorder="@(Model.SortViewModel.Current)">
                                                @pageNumberString
                                        </a>
                                    </li>
                                }

                            }

                        </ul>
                    </nav>
            </div>
        </div>
    </div>
</div>
