@model ReportViewModel

@{
    string controllerName = @ViewContext.RouteData.Values["controller"].ToString();
}


<div class="table-responsive">
    <table class="table table-centered table-nowrap table-hover mb-0">
        <thead>
            <tr>
                @{

                    <td><a asp-controller=@controllerName asp-action="VINsReport" asp-route-searchIdentifier=@ViewData["SearchIdentifier"] asp-route-standsIdentifier=@ViewData["StandsIdentifier"]  asp-route-sortOrder=@Model.SortViewModel.VINSort>VIN</a></td>
                    <td><a asp-controller=@controllerName asp-action="VINsReport" asp-route-searchIdentifier=@ViewData["SearchIdentifier"] asp-route-standsIdentifier=@ViewData["StandsIdentifier"]  asp-route-sortOrder=@Model.SortViewModel.OrderNumberSort>OrderNumber</a></td>
                    <td><a asp-controller=@controllerName asp-action="VINsReport" asp-route-searchIdentifier=@ViewData["SearchIdentifier"] asp-route-standsIdentifier=@ViewData["StandsIdentifier"]  asp-route-sortOrder=@Model.SortViewModel.StandNameSort>StandName</a></td>
                    <td><a asp-controller=@controllerName asp-action="VINsReport" asp-route-searchIdentifier=@ViewData["SearchIdentifier"] asp-route-standsIdentifier=@ViewData["StandsIdentifier"] asp-route-sortOrder=@Model.SortViewModel.DateSort>Date</a></td>
                }
            </tr>
        </thead>
        <tbody>

            @{
        
                @foreach (var jsonHeaderObject in Model.resultsJsonHeader)
                {



                    <tr onClick="document.location='@Url.Action("JSONReport", @controllerName, new {VIN = @jsonHeaderObject.VIN, standsIdentifier = jsonHeaderObject.Stand.StandName , searchIdentifier = @ViewData["SearchIdentifier"]}, null)'">
                        <td>@jsonHeaderObject.VIN</td>
                        <td>@jsonHeaderObject.Ordernum</td>
                        <td>@jsonHeaderObject.Stand.StandName</td>
                        @if (@jsonHeaderObject.ResultsJsonTests.Where(k => k.Created != null).FirstOrDefault()!=null)
                        {
                            <td>@jsonHeaderObject.ResultsJsonTests.Where(k=>k.Created!=null).FirstOrDefault().Created</td>
                        }
                        else
                        {
                            <td>Date not recognized</td>
                        }

                        
                    </tr>
                }
            }     
        </tbody>
    </table>

    <p>    
        <a asp-action="VINsReport"
           asp-route-standsIdentifier=@ViewData["StandsIdentifier"]
           asp-route-searchIdentifier=@ViewData["SearchIdentifier"]
           asp-route-pageNumber=1
           asp-route-sortorder="@(Model.SortViewModel.Current)"
           class="glyphicon glyphicon-chevron-right">
            1...  
        </a>

        @foreach (int pageNumber in Enumerable.Range((int)ViewData["PageCurrent"] - 2, 5))
        {
            if (pageNumber < (int)ViewData["PageCount"] && pageNumber>1)
            {
               <a asp-action="VINsReport"
               asp-route-standsIdentifier=@ViewData["StandsIdentifier"]
               asp-route-searchIdentifier=@ViewData["SearchIdentifier"]
               asp-route-pageNumber=@pageNumber
               asp-route-sortorder="@(Model.SortViewModel.Current)"
               class="glyphicon glyphicon-chevron-right">
               @(pageNumber+" ") 
               </a>
            }
        }
        <a asp-action="VINsReport"
           asp-route-standsIdentifier=@ViewData["StandsIdentifier"]
           asp-route-searchIdentifier=@ViewData["SearchIdentifier"]
           asp-route-pageNumber=@ViewData["PageCount"]
           asp-route-sortorder="@(Model.SortViewModel.Current)"
           class="glyphicon glyphicon-chevron-right">
            ...@ViewData["PageCount"]   
        </a>

</div>