@model List<Operator>

@{
    string confirmMessage = "Вы уверены, что хотите удалить оператора?";
    string confirmScript = "return confirm('" + confirmMessage + "');";
}


@foreach (Operator operatorInfo in Model)
{
    <tr>
        <td>
            @operatorInfo.OLogin
        </td>
        <td>@operatorInfo.OPassword</td>

        <td>
            @operatorInfo.ODescription
        </td>

        <td>
            <span class="text-success fw-semibold">@operatorInfo.Created</span>
        </td>
        <td class="text-end">
            <a asp-action="EditOperator" asp-route-operatorID=@operatorInfo.Id class="font-18 text-info me-2" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Edit" data-bs-original-title="Edit">
                <i class="btn btn-primary">
                    Edit
                </i>
            </a>
            <a onclick="@confirmScript" asp-action="UnactiveOperator" asp-route-operatorID=@operatorInfo.Id class="font-18 text-danger" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Delete" data-bs-original-title="Delete">
                <i class="btn btn-danger">
                    Del
                </i>
            </a>
        </td>

    </tr>
}